@import "../App/colors";
@import "../App/fonts";

.notification {
  background-color: $grey-dark;
  font-size: $font--normal;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 10px 0px;
  position: relative;
  display: flex;
  width: auto;
  .notification__content {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .notification__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }
}

.button--close {
  cursor: pointer;
  width: 25px;
}
